body {
  margin: 0;
  padding: 0;
  background: rgba(184, 182, 182, 0.2);
}

.error {
  background-color: red;
}

.globalBackgroundColor {
  background-color: rgb(19, 151, 90) !important;
}
.globalColor {
  color:  rgb(19, 151, 90) !important;
}

li { list-style: none }

.form {
  display: flex;
  align-items: baseline;
  justify-content: center;
}